@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
--orange: hsl(26, 100%, 55%);
--pale-orange: hsl(25, 100%, 94%);
--very-dark-blue: hsl(220, 13%, 13%);
--dark-grayish-blue: hsl(219, 9%, 45%);
--grayish-blue: hsl(220, 14%, 75%);
--light-grayish-blue: hsl(223, 64%, 98%);
--white: hsl(0, 0%, 100%);
--black: hsla(0, 0%, 0%, 0.75);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 16pt;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 50px 0;
    /* width:60%; */
}

#menu{
    display: none;
}

#banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#hamburger-menu{
    display: none;
}

#category{
    width: 160px;
}

#left-banner{
    display: flex;
    /* justify-items: center; */
}

#nav-bar{
    display: flex;
    align-items: flex-start;
    margin-top: 40px;
}

#category{
    margin-right: 30px;
}

.nav-tile{
    margin: 0px 0 0px 25px;
    font-size: .8rem;
    color: var(--dark-grayish-blue);
    height: 70px;
}

#right-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
}


#avatar{
    width: 60px;
}

#line{
    width: 100%;
    border-bottom: solid 1px var(--grayish-blue);
}

#content-container{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin:100px 0px;

}


#img-card{
    display: flex;
    flex-direction: column;
    width: 475px;
}

#img-card-mbl{
    display: none;
}

#main-img{
    width: 475px;
    border-radius: 20px;
}

#thumbnails{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.thumbnail{
    width: 110px;
    border-radius: 15px;
}

#prod-card{
    display: flex;
    flex-direction: column;
    width: 540px;
    margin-left: 130px;
}

#company-label{
    color: var(--orange);
    margin-top: 60px;
    font-weight: 700;
    font-size: .8rem;
}

.header h1{
    font-size: 2.2rem;
    margin-top: 20px;
}

#prod-desc{
    color: var(--dark-grayish-blue);
    margin-top: 30px;
    font-size: .80rem;
}

#prices{
    margin-top: 30px;
}

#curr-price{
    display: flex;
    align-items: center;
}

#curr-price h1{
    font-size: 1.4rem;
    margin-right: 20px;
}

.discount{
    background-color: var(--pale-orange);
    color: var(--orange);
    padding: 5px;
    font-size: .8rem;
    font-weight: 700;
    border-radius: 5px;
}

#orig-price{
    text-decoration: line-through;
    color: var(--grayish-blue);
    font-size:.7rem;
    font-weight: 700;
    margin-top: 10px;
}


#button-card{
    display: flex;
    align-items: center;
    margin-top: 50px;
}


#qty-button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color:var(--light-grayish-blue);
    width: 170px;
    height: 60px;
} 
    
#minus-btn{
        width: 13px;
        height: 5px;
}
#plus-btn{
        width: 13px;
        height: 13px;
}
#counter{
    font-size: .8rem;
    font-weight: 700;
}

#cart-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--orange);
    color: var(--pale-orange);
    border-radius: 10px;
    width: 270px;
    height: 60px;
    padding: 10px;
    margin-left: 20px;
}


#cart-icon{
color: var(--pale-orange);
    width: 15px;
    margin-right: 10px;
}

#cart-btn p{
    font-size: .7rem;
    font-weight: 700;
}


/* Active States */


#avatar:hover{
    border: var(--orange) 3px solid;
    border-radius: 30px;
    cursor: pointer;
}

#cart:hover{
    cursor: pointer;
}


.nav-tile:hover{
    border-bottom: var(--orange) 3px solid;
    color: black;
    cursor: pointer;
}

.thumbnail:hover{
    cursor: pointer;
    opacity: .5;
}

#minus-btn:hover,
#plus-btn:hover{
    cursor: pointer;
    opacity: .5;
}

#cart-btn:hover{
    cursor: pointer;
    opacity: .7;
}


/* Lightbox ------------------------------------------------------------*/


#lightbox{
    position: fixed;
    top: 0;
    background-color: rgba(0, 0,0,.75);
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}



#light-card{
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#close-btn-card{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 15px;
}

#light-img{
    width: 550px;
    border-radius: 15px;
}


#button-bar{
    width: 600px;
    position:fixed;
    z-index: 11;
    top: 43%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-btn{
    border-radius: 40px;
    background-color: var(--white);
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.close-x:hover{
    cursor: pointer;
    fill: var(--orange);
}

.back-arrow,
.next-arrow{
   width: 300px;
}

#img-card-light{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 40px;
}


.thumbnail-lb{
    width: 90px;
    border-radius: 15px;
}

.overlay{
    position:absolute;
    background-color: var(--white);
    border-radius: 15px;
    width: 90px;
    height: 90px;
    cursor: pointer;
    z-index: 20;
    opacity: .7;
    visibility: hidden;
}

.active{
    position:absolute;
    background-color: var(--white);
    border-radius: 15px;
    border: solid 2px var(--orange);
    width: 90px;
    height: 90px;
    cursor: pointer;
    z-index: 10;
    opacity: .7;
    visibility: hidden;
}

.thumbnail-lb:hover{
    cursor:pointer;
}




/* Shopping Cart ------------------------------------------------- */

#shopping-cart{
    position: absolute;
    top: 115px;
    left: 64%;
    background-color: var(--white);
    z-index: 20;
    width: 380px;
    min-height: 270px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 5px rgba(128, 128, 128, 0.262);
    visibility: hidden;
}

#cart-header{
    padding: 25px;
    font-weight: 700;
    font-size: .75rem;
}


#empty-cart{
    color: var(--dark-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}

#empty-cart p{
    font-size: .7rem;
    font-weight: 700;
}


#cart-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


#cart-content-card{
    display: flex;
    align-items: center;
    width: 100%;
}

#cart-item-img{
    border-radius: 5px;
    width: 15%;
}

#cart-desc{
    display: flex;
    flex-direction: column;
    justify-content:center;
    color: var(--dark-grayish-blue);
    width: 85%;
    height:60px;
    margin-left: 15px;
}

#cart-item-name{
    font-size: .75rem;

}

#cart-pricing{
    font-size: .7rem;
    margin-top: 5px;
    
}

#cart-total{
    color: black;
    font-weight: 700;
    font-size: .7rem;
    margin-left: 5px;
}

#delete-btn{
    width: 5%;
}

#delete-btn:hover{
    cursor:pointer; 
}

#checkout-btn{
    background-color: var(--orange);
    border-radius: 10px;
    color: white;
    width: 100%;
    padding: 20px;
    font-size: .7rem;
    text-align: center;
    margin: 20px 0;
}

#checkout-btn:hover{
    cursor: pointer;
}

/* Cart Count Icon---------------------------------------------------- */

#cart-count{
    position: absolute;
    top: 62px;
    right: 25.5%;
    border-radius: 30px;
    background-color: var(--orange);
    width: 15px;
    height: 11px;
    z-index: 40;
    color: white;
    font-size: .4rem;
    text-align: center;
    padding-top: 1px;
    visibility: hidden;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width:430px) {


    #container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #content-container{
        flex-direction: column;
        width: 100%;
        margin: 0;
    }


    .nav-tile, #container #line, #thumbnails, #img-card{
        display: none;
    }

    #nav-bar{
        margin: 0;
    }

    #banner{
        width: 100%;
        padding: 15px 20px;
        margin-bottom: 10px;
    }

    #left-banner{
        justify-content: space-between;
    }

    #hamburger-menu{
        display: block;
        height: 20px;
        width: 20px;
    }

    #category{
        margin: 0 0 0 20px;
        width: 140px;
    }


    #right-banner{
        width: 80px;
        justify-content:flex-end;
    }

    #avatar {
        width: 30px;
        margin-left: 30px;
    }

    #prod-card{
        width: 100%;
        margin:0px;
        padding: 0px 20px;
    }

    #main-img{
        display: fixed;
        height: 200px;
        width: 300px;
        border-radius: 0;
        margin: 0;
        zoom: 1.5;
    }

    #img-card-mbl{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }
    #main-img-mbl{
        background-image:url("images/image-product-1.jpg");
        background-size: cover;
        width: 400px;
        height: 320px;
        /* background-position-x:-10px ; */
        background-position-y: 50%;
        /* zoom: 1.1; */
    }

    #button-bar-mbl{
        /* background-color: red; */
        position: absolute;
        display: flex;
        justify-content: space-between;
        /* padding: 15px; */
        width: 90%;
        z-index: 15;
    }

    .nav-btn{
        border-radius: 40px;
        background-color: var(--white);
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

  

    #shopping-cart{
        top: 78px;
        left: 0;
        max-width:95%;
        margin: 0 10px;
       
    }

    #cart-count{
        position: absolute;
        top: 13px;
        right: 18.5%;
        width: 15px;
        height: 15px;
        z-index: 40;
        padding-top: 2px;

    }


    .header h1{
        font-size: 1.4rem;
        margin-top: 10px;
    }

    #company-label{
        color: var(--orange);
        margin-top: 30px;
        font-weight: 700;
        font-size: .7rem;
    }

    #prod-desc{
        color: var(--dark-grayish-blue);
        margin-top: 15px;
        font-size: .75rem;
        line-height: 1.6;
    }

    #prices{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #orig-price{
        margin: 0;
        font-size:.8rem;
    }

    #button-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 80px;
    }

    #qty-button{
        border-radius: 10px;
        background-color:var(--light-grayish-blue);
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
    } 
        
    #minus-btn{
            width: 13px;
            height: 5px;
    }
    #plus-btn{
            width: 13px;
            height: 13px; 
            
    }
    #counter{
        font-size: .8rem;
        font-weight: 700;
    }
    
    #cart-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--orange);
        color: var(--pale-orange);
        border-radius: 10px;
        width: 100%;
        height: 60px;
        padding: 10px;
        margin: 15px 0 0 0;
    }

    /* Menu --------------------------------------- */

    #menu{
        background-color: var(--white);
        width: 65%;
        position: absolute;
        top: 0;
        left: 0;
        z-index:50;
        height: 110%;
        padding: 20px 25px;
        display:none;
    }

    #menu-list{
        text-decoration: none;
        margin-top: 40px;
    }

    li{
        margin: 25px 0;
        font-weight: 700;
        font-size: .9rem;
        list-style: none;
        cursor: pointer;
    }
}